# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [25]:
amazon_website1 = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

temp = out = [item for t in amazon_website1 for item in t]

quantity = int(input("Enter Quantity "))
i=0
total=0
#print(quantity)
while(i < quantity):
  my_choice = input("What you want to purchase? : ")
  if temp.count(my_choice) > 0:
    total = total + temp[temp.index(my_choice)+1]
    print(f"{my_choice} is added to cart")
  else:
    print(f"{my_choice} is out of stock")
  i=i+1

print(f"Total value of the cart is {total}")

Enter Quantity 3
What you want to purchase? : shirt
shirt is added to cart
What you want to purchase? : mobile
mobile is out of stock
What you want to purchase? : phone
phone is added to cart
Total value of the cart is 11000

In [19]:
amazon_website1 = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]


out = [item for t in amazon_website1 for item in t]
print(out)

oc = out.count("laptop")


print(oc)

print(out.index("laptop")+1)

print(out[5])

['watch', 5000, 'phone', 10000, 'laptop', 50000, 'shirt', 1000]
1
5
50000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    print(i)
    arr[i - 1] = arr[i]
print(arr)
for i in range(0, 6): 
    print(arr[i], end = " ")

1
2
3
4
5
[2, 3, 4, 5, 6, 6]
2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [ ]:
#Approach 1
ele=(1,1,2,2,3,5,5,4,5,6,7,7,7,5,5,5)
temp=set()
for i in ele:  
  if ele.count(i)>1:
    temp.add(i)

#print(temp)
for j in temp:
  print(f"Element {j} occors {ele.count(j)} times")

Element 1 occors 2 times
Element 2 occors 2 times
Element 5 occors 6 times
Element 7 occors 3 times

In [3]:
#Approach 2
ele=(1,1,2,2,3,5,5,4,5,6,7,7,7,5,5,5)
print(ele)
newlist=[("Element " + str(i) + " occurs " + str(ele.count(i)) + " times") for i in set(ele) if ele.count(i)>1]
newlist

(1, 1, 2, 2, 3, 5, 5, 4, 5, 6, 7, 7, 7, 5, 5, 5)

['Element 1 occurs 2 times',
 'Element 2 occurs 2 times',
 'Element 5 occurs 6 times',
 'Element 7 occurs 3 times']

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [17]:
list1=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]


#newlist1=[(i[0:2],500) for i in list1]
newlist1=[(i[0],i[1],500) for i in list1]


print(newlist1)

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]