# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [14]:
numbers = [12, 75, 150, 180, 145, 525, 50]

max = 0
for i in numbers:
  #print(i,max)
  if i > max:
    max = i

print("Largest Number is",max)

12 0
75 12
150 75
180 150
145 180
525 180
50 525
Largest Number is 525

In [2]:
# 2nd approach

numbers = [12, 75, 150, 180, 145, 525, 50]

numbers.sort()
numbers[-1]

525

In [3]:
# 3rd approach

numbers = [12, 75, 150, 180, 145, 525, 50]

print("Largest Number is:", max(numbers))

Largest Number is: 525

Q2. Print all the even number between (1, 12).

In [11]:
for i in range(12):
  if i == 0:
    continue
  if i % 2 == 0:
    print(i)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [9]:
number = int(input("Enter a Number : "))
sum = 0

for i in range(number+1):
  sum = sum + i
  #print(i)

print(f"Sum =",sum)

Enter a Number : 10
Sum = 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [17]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  #print(i)
  if i > 150 and i<=500:
    #print(i)
    continue
  elif i > 500:
    break
  else:
    if i%5 ==0:
      print(i)

75
150
145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [1]:
list1 = [10, 20, 30, 40, 50]

list1[::-1]

[50, 40, 30, 20, 10]

In [4]:
# 2nd approach

list1 = [10, 20, 30, 40, 50]
list1.reverse()
print("Reversed List ", list1)

Using reverse()  [50, 40, 30, 20, 10]

In [6]:
# 3rd approach

list1 = [10, 20, 30, 40, 50]
print("Reversed List ", list(reversed(list1)))

Reversed List  [50, 40, 30, 20, 10]